.name{
  font-family: cursive;
}
.link{
  color: white;
  text-decoration: none;
}
.about-title{
  font-size: 22px;
  font-weight: bold;
  color: blue;
  text-align: center;
}
.about-text{
  font-weight: bold;
  text-align: center;
}
/*.about-title img{
  height: 10px;
}
.about-text img{
  height: 10px;
}*/
.about-h1{
  color: #02055f;
  text-align: center;
}
.link:hover{
  color: white;
  text-decoration: none;
}
#textanim{
 overflow: hidden;
  border-right: .10em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
  typing 3.5s steps(50, end),
  blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

#home img{
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    margin-bottom:10px; 
}
.card-deck-me{
  margin-right:25px;
  margin-left: 25px;
}
#card-deck-about img{
  width: 20px;
  margin: 4px;
  transform: translateX(0%);
}
.card-deck img{
  width: 120px;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 660px) {
.typewriter{
  font-size: 30px;
}
}
@media (max-width: 450px) {
.typewriter{
  font-size: 20px;
  color: green;
}
}