#pro{
  margin: 10px;
}
.Appbar{
  top: 0
}
.trigger{
  top: 0
}
.mapouter{
  position:relative;
  text-align:right;
  height:500px;
  width:100%;
}
.gmap_canvas{
  overflow:hidden;
  background:none!important;
  height:400px;
  width:100%;
}

#cont{
  margin: 10px;
}
#cont .card img{
  width: 70px;
}
#cont .card{
  border: none;
}

.z-btn-group{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.z-btn-group button{
  margin: 0px 20px 0px 20px;
}
button a{
  text-decoration: none;
}

.card-body > h6{
  font-family: Arial, Helvetica, sans-serif;
}
.progress{
  height: 30px !important;
}
#SkillBox {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    height: auto;
    background-color: #fff;
    border-radius:20px; 
}
.skill-list{
  width: 400px;
  margin: auto;
}
#SkillBox img {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}


#loader {
    position: fixed;
    z-index: 1000000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader > img {
    width: 200px;
}

#loaderhide{
    display: none;
}




#home{
  margin: 15px;
}
.name{
  font-family:sans-serif;
}
a:hover{
  color: white;
  text-decoration: none;
}
#textanim{
 overflow: hidden;
  border-right: .10em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
  typing 3.5s steps(50, end),
  blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
#home img{
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    margin-bottom:10px; 
}
.card-deck-me{
  margin-right:25px;
  margin-left: 25px;
}
#card-deck-about img{
  width: 20px;
  margin: 4px;
  transform: translateX(0%);
}
.card-deck img{
  width: 120px;
  margin-left: 50%;
  transform: translateX(-50%);
}




.SkillBar{
  width: 90%;
  height: 50px;
  position: relative;
  background: rgba(17, 17, 17, .3);
  margin: 20px auto;
}


#Skill-HTML {
  width: 99%;
  animation: Animate-JS 3s;
  height: 100%;
  position: absolute;
  background-color: #ea8564;
}


#Skill-CSS {
  animation: Animate-JS 3s;
  width: 99%;
  height: 50px;
  position: absolute;
  background-color: #55a69f;
}


#Skill-JS {
  animation: Animate-JS 4s;
  width: 99%;
  height: 50px;
  position: absolute;
  background-color: #c44e45;
}
@keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 99%}
}


#Skill-NJ {
  width: 90%;
  animation: Animate-RJ 4.5s;
  height: 100%;
  position: absolute;
  background-color: #c14343;
}


#Skill-MDB {
  width: 90%;
  animation: Animate-RJ 4.5s;
  height: 100%;
  position: absolute;
  background-color: #7f1ef8;
}


#Skill-RJ {
  animation: Animate-RJ 4.5s;
  width: 90%;
  height: 50px;
  position: absolute;
  background-color: #970cc1;
}
@keyframes Animate-RJ {
  from {
  width: 10px;
}
to {
  width: 90%}
}


#Skill-photo {
  animation: Animate-photo 3s;
  width: 90%;
  height: 50px;
  position: absolute;
  background-color: #c14343;
}
@keyframes Animate-photo {
  from {
  width: 10px;
}
to {
  width: 90%}
}





#Skill-illust {
  animation: Animate-illust 6s;
  width: 90%;
  height: 50px;
  position: absolute;
  background-color: #7f1ef8;
}
@keyframes Animate-illust {
  from {
  width: 10px;
}
to {
  width: 90%}
}






#Skill-after {
  animation: Animate-after 4s;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: #3cf81e;
}
@keyframes Animate-after {
  from {
  width: 10px;
}
to {
  width: 70%}
}


.Skill-Area {
  z-index: 1;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  text-shadow: none;
  color: #fff;
  font-size: 18px;
}
.PercentText {
  z-index: 3;
  position: relative;
  padding-right: 15px;
  margin-top: 15px;
  float: right;
  text-shadow: none;
  color: #fff;
  font-size: 18px;
}












@media (max-width: 660px) {
.typewriter{
  font-size: 30px;
}
}
@media (max-width: 450px) {
.typewriter{
  font-size: 20px;
  color: green;
}
}









.about-title{
  font-size: 22px;
  font-weight: bold;
  color: #0062cc;
  text-align: center;
}
.about-text{
  font-weight: bold;
  text-align: center;
}

.about-h1{
  color: #33333c;
  text-align: center;
}



